description = "Статьи и новости"

[viewBag]
==
<div class='articles'>
		<div class='container'>
			<div class='aritcles-container'>
				<div class='aritcles-headline headline'>
					<h2>Интересное</h2>
				</div>
					<ul class='articles-list row'>
						<li class='col-md-2'>
							<div class='articles-item'>
								<div class='articles-item-img'>
									<a href="javascript">
										<img src="http://uzbekistan.basketball/cache/resized/a54b0cd0367d90b936c692c83fdadff5.jpg" alt="article-name">
									</a>
								</div>
								<div class='articles-item-content'>
									<h6>
										<a href="javascript;">
											Статья №
										</a>
									</h6>
								</div>
							</div>
						</li>
						<li class='col-md-2'>
							<div class='articles-item'>
								<div class='articles-item-img'>
									<a href="javascript">
										<img src="http://uzbekistan.basketball/cache/resized/a54b0cd0367d90b936c692c83fdadff5.jpg" alt="article-name">
									</a>
								</div>
								<div class='articles-item-content'>
									<h6>
										<a href="javascript;">
											Статья №
										</a>
									</h6>
								</div>
							</div>
						</li>
						<li class='col-md-2'>
							<div class='articles-item'>
								<div class='articles-item-img'>
									<a href="javascript">
										<img src="http://uzbekistan.basketball/cache/resized/a54b0cd0367d90b936c692c83fdadff5.jpg" alt="article-name">
									</a>
								</div>
								<div class='articles-item-content'>
									<h6>
										<a href="javascript;">
											Статья №
										</a>
									</h6>
								</div>
							</div>
						</li>
						<li class='col-md-2'>
							<div class='articles-item'>
								<div class='articles-item-img'>
									<a href="javascript">
										<img src="http://uzbekistan.basketball/cache/resized/a54b0cd0367d90b936c692c83fdadff5.jpg" alt="article-name">
									</a>
								</div>
								<div class='articles-item-content'>
									<h6>
										<a href="javascript;">
											Статья №
										</a>
									</h6>
								</div>
							</div>
						</li>
						<li class='col-md-2'>
							<div class='articles-item'>
								<div class='articles-item-img'>
									<a href="javascript">
										<img src="http://uzbekistan.basketball/cache/resized/a54b0cd0367d90b936c692c83fdadff5.jpg" alt="article-name">
									</a>
								</div>
								<div class='articles-item-content'>
									<h6>
										<a href="javascript;">
											Статья №
										</a>
									</h6>
								</div>
							</div>
						</li>
						<li class='col-md-2'>
							<div class='articles-item'>
								<div class='articles-item-img'>
									<a href="javascript">
										<img src="http://uzbekistan.basketball/cache/resized/a54b0cd0367d90b936c692c83fdadff5.jpg" alt="article-name">
									</a>
								</div>
								<div class='articles-item-content'>
									<h6>
										<a href="javascript;">
											Статья №
										</a>
									</h6>
								</div>
							</div>
						</li>
					</ul>
			</div>
		</div>
</div>