description = "Вертикальный слайдер"

[viewBag]
==
<!--start-->
<div class="container">
    <div id="ninja-slider" style="float:left;">
        <div class="slider-inner">
            <ul>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/1.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/2.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/3.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/4.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/5.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/6.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/7.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/8.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/9.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/10.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/11.jpg' | theme}}"></a></li>
                <li><a class="ns-img" href="{{'assets/libs/thumbnail-slider/img/12.jpg' | theme}}"></a></li>
            </ul>
            <div class="fs-icon" title="Expand/Close"></div>
        </div>
    </div>
    <div id="thumbnail-slider" style="float:left;">
        <div class="inner">
            <ul>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/1.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/2.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/3.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/4.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/5.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/6.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/7.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/8.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/9.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/10.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/11.jpg' | theme}}"></a>
                </li>
                <li>
                    <a class="thumb" href="{{'assets/libs/thumbnail-slider/img/12.jpg' | theme}}"></a>
                </li>
            </ul>
        </div>
    </div>
		<div style="clear:both;"></div>
</div>
{% put styles %}
    <link href="{{'assets/libs/thumbnail-slider/ninja-slider.css' | theme}}" rel="stylesheet" />
		<script src="{{'assets/libs/thumbnail-slider/ninja-slider.js' | theme}}"></script>
    <link href="{{'assets/libs/thumbnail-slider/thumbnail-slider.css' | theme}}" rel="stylesheet" type="text/css" />
    <script src="{{'assets/libs/thumbnail-slider/thumbnail-slider.js' | theme}}" type="text/javascript"></script>
{% endput %}