[viewBag]
==
<div class='national-footer px-4'>
	<h2>События</h2>
	<div class="row">
		<div class="col-md-6">
			<div class='national-events'>
				<div class="national-events-container">
					<ul class='national-events-items'>
						{%for item in 1..20%}
						<li class='national-events-item'>
							<div class='national-events-item-headline'>
								<h2>13/<br>04</h2>
							</div>
							<div class='national-events-item-info'>
								<div class='national-events-item-info-top'>
									<h4>Арнис Вецвагарс 12.04.1974,</h4> 
									<h6>47 Барсы Атырау (м) / Главный тренер</h6>
								</div>
								<p>Тобол (м) / Защитник / #13</p>
							</div>
						</li>
						{%endfor%}
					</ul>		
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class='national-player'>
				{% partial 'national/player' %}
			</div>	
		</div>
	</div>
</div>