[viewBag]
==
<?php
use RainLab\Blog\Models\Post;

function onStart() {
	$this['posts'] = $posts = Post::whereHas('categories', function($q)
	{
    $q->where('slug', '=', "national");
	})->where('published',true)->orderBy('published_at', 'desc')->limit(8)->get();
}
?>
==
<div class='px-2 national-news'>
	<ul class="news-block-list row">
		{%for post in posts%}
			<li class='news-block-item col-lg-3 col-md-6 col-12'>
			<div class="news-block-item-img">
					<a href="{{ 'news/news-detail' | page({ slug: posts[2].slug }) }}">
						{% if posts[2].featured_images is empty %}
							<img 
								src="{{'assets/images/backup_of_ubf_logo_curves_v13-2.png'|theme}}"
								alt="UZBF">						
							{% else %}
							{% for image in posts[2].featured_images|slice(0,1) %}
								<img 
										data-src="{{ image.filename }}"
										src="{{ image.path }}"
										alt="{{ image.description }}"> 
					    {% endfor %}							
						{% endif %}
				</a>
			</div>
			<div class="news-block-item-category">
				<a href="#">
					<h6>Чемпионат</h6>
				</a>
			</div>
			<div class="news-block-item-headline">
				<h6><a href="{{ 'news/news-detail' | page({ slug: posts[2].slug }) }}">{{posts[2].title}}</a></h6>
			</div>
			<ul class="news-block-item-props desc">
      	<li>
			     <i class="far fa-clock"></i>
			     
			     
			     <span>{{ " Posted on :date"|_({date: posts[2].published_at|date('y:m:d')})}}
							</span>
			     
			     </li>
			</ul>
		</li>
		{%endfor%}
	</ul>	
</div>