description = "Боковое меню"

[viewBag]
==
<div class='side-bar-container'>
	<div class='side-bar-links'>
		<nav class="side-bar-nav">
	    <ul class="side-bar-nav-items">
	      <li class="side-bar-nav-item">
	        <a href="{{'main/index' | page}}" class="side-bar-nav-item-link">
	          Главная
	        </a>
	      </li>
	      <li class="side-bar-nav-item">
	        <a href="{{'main/staff' | page}}" class="side-bar-nav-item-link">
	          Федерация
	        </a>
	      </li>
	      <li class="side-bar-nav-item">
	        <a href="{{'main/teams' | page}}" class="side-bar-nav-item-link">
	          Команды
	        </a>
	      </li>
	      <li class="side-bar-nav-item">
	        <a href="{{'news/news-list' | page}}" class="side-bar-nav-item-link">
	          Новости
	        </a>
	      </li>
	      <li class="side-bar-nav-item">
	        <a href="{{'main/docs' | page}}" class="side-bar-nav-item-link">
	          Документы
	        </a>
	      </li>
	      <li class="side-bar-nav-item">
	        <a href="{{'photo/gallery' | page}}" class="side-bar-nav-item-link">
	          Фотогалерея
	        </a>
	      </li>
	      <li class="side-bar-nav-item">
	        <a href="{{'main/contacts' | page}}" class="side-bar-nav-item-link">
	          Контакты
	        </a>
	      </li>
	    </ul>
	  </nav>
	  <ul class="social-icons">
  		<li class="social-icon-facebook">
  			<a target="_blank" href="http://instagram.com/uzbekistan.basketball" aria-label="facebook">
	  			<i class="fab fa-instagram"></i>
  			</a>
  		</li>
  		<li class="social-icon-facebook">
  			<a target="_blank" href="https://www.facebook.com/UzbekistanBasketballFederation" aria-label="facebook">
	  			<i class="fab fa-facebook"></i>
  			</a>
  		</li>
  		<li class="social-icon-facebook">
  			<a target="_blank" href="https://twitter.com/UzBasketball?s=09" aria-label="twitter">
		  		<i class="fab fa-twitter"></i>
  			</a>
  		</li>
  	</ul>
	</div>
</div>