description = "Боковое меню"

[viewBag]
==
<div class='side-bar-container'>
	<div class='side-bar-links'>
		<nav class="side-bar-nav">
	    <ul class="side-bar-nav-item-links">
	      
      <li class="side-bar-nav-item-link">
        <a href="{{'main/index' | page}}" class="side-bar-nav-item-link-link {%if this.page.id == "main-index"%} active {%endif%}">
          {{"Главная" | _}}
        </a>
      </li>
      <li class="side-bar-nav-item-link">
        <a href="{{'main/staff' | page}}" class="side-bar-nav-item-link {%if this.page.id == "main-staff"%} active {%endif%}">
          {{"Федерация" | _}}
        </a>
      </li>
		  <li class="side-bar-nav-item-link">
			  <a href="{{'national/main' | page}}" class="side-bar-nav-item-link  {%if this.page.id == "national-main"%} active {%endif%}">
			    {{"Сборные" | _}}
			  </a>
			</li> 
      <li class="side-bar-nav-item-link">
        <a href="{{'main/teams' | page}}" class="side-bar-nav-item-link {%if this.page.id == "main-teams"%} active {%endif%}">
          {{"Команды"| _}}
        </a>
      </li>
      <li class="side-bar-nav-item-link">
        <a href="{{'news/news-list' | page}}" class="side-bar-nav-item-link {%if this.page.id == "news-news-list"%} active {%endif%}">
          {{"Новости" | _}}
        </a>
      </li>
      
      <li class="side-bar-nav-item-link">
        <a href="{{'projects/section' | page}}" class="side-bar-nav-item-link  {%if this.page.id == "projects-section"%} active {%endif%}">
          {{"Секции" | _}}
        </a>
      </li>
      <li class="side-bar-nav-item-link">
        <a href="{{'main/docs' | page}}" class="side-bar-nav-item-link {%if this.page.id == "main-docs"%} active {%endif%}">
          {{"Документы" | _}}
        </a>
      </li>
      <li class="side-bar-nav-item-link">
        <a href="{{'photo/gallery' | page}}" class="side-bar-nav-item-link {%if this.page.id == "photo-gallery"%} active {%endif%}">
          {{"Фотогалерея" | _}}
        </a>
      </li>
      <li class="side-bar-nav-item-link">
        <a href="{{'main/contacts' | page}}" class="side-bar-nav-item-link {%if this.page.id == "main-contacts"%} active {%endif%}">
          {{"Контакты" | _}}
        </a>
      </li>
	    </ul>
	  </nav>
	  <ul class="social-icons">
  		<li class="social-icon-facebook">
  			<a target="_blank" href="http://instagram.com/uzbekistan.basketball" aria-label="facebook">
	  			<i class="fab fa-instagram"></i>
  			</a>
  		</li>
  		<li class="social-icon-facebook">
  			<a target="_blank" href="https://www.facebook.com/UzbekistanBasketballFederation" aria-label="facebook">
	  			<i class="fab fa-facebook"></i>
  			</a>
  		</li>
  		<li class="social-icon-facebook">
  			<a target="_blank" href="https://twitter.com/UzBasketball?s=09" aria-label="twitter">
		  		<i class="fab fa-twitter"></i>
  			</a>
  		</li>
  	</ul>
	</div>
</div>